h1{margin: 3% 20%;font-family: Verdana, "sans-serif";font-size: 32px;text-align: center;}
.main_content_div{
	width: 80%;margin: 30px;margin: auto;display: flex;flex-direction: row;
}
.div_err_res{
	border: 1px solid rgba(220,0,3,1.00);font-family: Verdana, "sans-serif";padding: 8px;
	ont-size: 16px;color: rgba(220,0,3,1.00);text-align: center;border-radius: 5px;width: 100%;
}
.res_divs{margin: 0;padding: 0;}
.order_res_lbl{
	border: none;font-family: Verdana, "sans-serif";padding: 0 3px;margin: 0;
	display: inline-block;font-size: 16px;
}

